<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/basic}">
<th:block layout:fragment="content">
  <div class="content_nav">
    <!-- start : navbar -->
    <th:block th:replace="layout/navBar::navBar"></th:block>
    <!-- end : navbar -->
    <!-- start : content -->
    <div class="content">
      <h2 class="tit text-center mb-5">마이페이지</h2>

      <div class="board_wrap" th:object="${categoryPage}">
        <div class="content-tit">
          <h4 class="tit_con mb-3">👀 현재 계획 중인 여행</h4>
          <span class="num">[[${categoryPage.getTotalElements}]]</span>
          <a class="btn btn-sm btn-outline-secondary" href="/mypage/boardList">더보기 +</a>
        </div>


        <ul class="board_content  row row-cols-1 row-cols-md-2 g-4 ">
          <th:block th:each="list,i:${categoryPage.getContent()}">
              <li class="col">
                <div class="card">
                  <div class="card-body">
                    <p class="img" th:if="${list.boardImg}">
                      <img th:src="|/boardApi/boardImg?url=${list.boardImg}|" alt="여행썸내일">
                    </p>
                    <div class="con">
                      <div class="top_btn mb-3">
                        <p>
                          <i class="bi bi-sticky-fill" style="color: #999;font-size: 12px !important;"></i>
                          <a th:href="@{/travel/category(no=${list.categoryNo})}">
                            일정수정
                          </a> |
                          <a th:href="@{/travel/post(no=${list.categoryNo},day=1)}">
                            여행기록
                          </a>
                        </p>
                        <p >
                          <a style="margin:5px 5px 0 0" th:href="@{/travel/categoryDelete(categoryNo=${list.categoryNo})}" title="삭제하기">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                              <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                            </svg>
                          </a>
                          <span>
                        <th:block th:if="${list.categoryOpen}">
                          <i class="bi bi-lightbulb-fill " title="공개" style="color:#999"></i>
                          <b style="color:#999">공개</b>
                        </th:block>
                        <th:block th:if="${list.categoryOpen == false}">
                          <i class="bi bi-lightbulb" title="비공개" style="color:#999"></i>
                          <b style="color:#999">비공개</b>
                        </th:block>
                      </span>
                        </p>
                      </div>
                      <div class="address_info mt-1">
                        <span class="point-color" th:text="${list.categoryArea}">제주도</span>
                        <th:block th:if="${list.categoryAreaDetails != ''}">
                          / <span class="point-color" th:text="${list.categoryAreaDetails}">제주도</span>
                        </th:block>
                      </div>
                      <h5 th:text="${list.categoryName}" class="card-title">동물농장 여행</h5>
                      <div class="mt-1">
                        <span><i class="bi bi-calendar-week"></i> 일정 : [[${list.dateTxt} - 1 ]] 박 [[${list.dateTxt}]] 일</span>
                        <p class="travel_date mt-1" style="display:inline-block">
                          ( <span class="travel_day_start" th:text="${list.dateStart}">2023-08-11</span>
                          -
                          <span class="travel_day_end" th:text="${list.dateEnd}">2023-08-20</span> )
                        </p>
                      </div>
                      <p class="mt-1"><i class="bi bi-clock"></i>
                        작성일 : [[${#temporals.format(list.createdAt,'yyyy-MM-dd')}]]</p>
                      <p class="travel_people mt-2">
                        <i class="bi bi-emoji-smile"></i>
                        <span class="tag point" th:text="${list.categoryWriter}"></span>
                        <span th:each="tagItem,i:${list.tagList}" th:text="${tagItem}" class="tag">#나무늘보 #왈왈이</span>
                      </p>
                    </div>
                  </div>
                  <!-- end :card-body -->
                  <div class="progress_wrap p-2 border-top">
                    <p class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                      <span class="progress-bar" style=""></span>
                    </p>
                  </div>
                  <!-- end : progress_wrap-->
                  <div class="btn-group border-top">
                    <a th:href="@{/board/view(no=${list.categoryNo})}" class="btn border-end">일정상세 <i class="bi bi-map-fill"></i></a>
                    <th:block th:if="${list.boardExistence}">
                      <a th:href="@{/board/postView(no=${list.categoryNo},day=1)}" class="btn">여행기록 <i class="bi bi-pen-fill"></i></a>
                    </th:block>
                  </div>
                </div>
              </li>
          </th:block>
        </ul>
      </div>



      <div class="board_wrap" th:object="${categoryLikePage}">
        <div class="content-tit mt-5 border-top pt-5">
          <h4 class="tit_con mb-3">⭐ 찜리스트</h4>
          <span class="num">[[${categoryLikePage.getTotalElements}]]</span>
          <a class="btn btn-sm btn-outline-secondary" href="/mypage/boardLikeList">더보기 +</a>
        </div>
        <ul class="board_content  row row-cols-1 row-cols-md-2 g-4 ">
          <th:block th:each="list,i:${categoryLikePage.getContent()}">
            <li class="col" th:class="|col col_${list.categoryNo}|" >
              <div class="card">
                <div class="card-body">

                  <p class="img" th:if="${list.boardImg}">
                    <img th:src="|/boardApi/boardImg?url=${list.boardImg}|" alt="여행썸내일">
                  </p>

                  <div class="con">
                    <div class="address_info mt-1">
                      <p class="btn_up">
                        <a th:href="|javascript:btnLike(${list.categoryNo})|" title="찜하기" class="btn_heart">
                          <i class="bi bi-heart-fill"></i>
                        </a>
                      </p>
                      <span class="point-color" th:text="${list.categoryArea}">제주도</span>
                      <th:block th:if="${list.categoryAreaDetails != ''}">
                        / <span class="point-color" th:text="${list.categoryAreaDetails}">제주도</span>
                      </th:block>
                    </div>
                    <h5 th:text="${list.categoryName}" class="card-title">동물농장 여행</h5>
                    <div class="mt-1">
                      <span><i class="bi bi-calendar-week"></i> 일정 : [[${list.dateTxt} - 1 ]] 박 [[${list.dateTxt}]] 일</span>
                      <p class="travel_date mt-1" style="display:inline-block">
                        ( <span class="travel_day_start" th:text="${list.dateStart}">2023-08-11</span>
                        -
                        <span class="travel_day_end" th:text="${list.dateEnd}">2023-08-20</span> )
                      </p>
                    </div>
                    <p class="mt-1"><i class="bi bi-clock"></i>
                      작성일 : [[${#temporals.format(list.createdAt,'yyyy-MM-dd')}]]</p>
                    <p class="travel_people mt-1">
                      <i class="bi bi-emoji-smile"></i>
                      <span class="txt_info" style="color: #333">작정자 : </span>
                      <span class="tag point" th:text="${list.categoryWriter}"></span>
                      <th:block th:each="tagItem,i:${list.tagList}" th:if="${i.size > 0}" >
                        <span class="">인원 : </span>
                        <span th:text="${i.size} + 1" class="tag"></span>
                      </th:block>
                    </p>
                  </div>
                </div>
                <!-- end :card-body -->
                <div class="btn-group border-top">
                  <a th:href="@{/board/view(no=${list.categoryNo})}" class="btn">일정상세 <i class="bi bi-map-fill"></i></a>
                  <th:block th:if="${list.boardExistence}">
                    <a th:href="@{/board/postView(no=${list.categoryNo},day=1)}" class="btn">여행기록 <i class="bi bi-pen-fill"></i></a>
                  </th:block>
                </div>
              </div>
            </li>
          </th:block>
        </ul>
      </div>
    </div>
  </div>
  <script type="text/javascript" th:src="@{/js/boardListDday.js}"></script>
  <script th:src="@{/js/boardList.js}"></script>
  <script th:if="${msg}">
    alert("회원정보 수정이 완료되었습니다.")
  </script>

</th:block>
</html>

