<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/basic}">
<th:block layout:fragment="content">
  <div class="container-fluid mt-5">
    <div class="content_box" th:object="${userTravel}">
      <h2 class="tit text-center mb-4">회원 프로필 수정하기</h2>

      <form th:action="@{/mypage/userImageModify}" method="post" enctype="multipart/form-data">
        <div class="profile_card rounded-3 p-5 mb-3 m-auto">
          <div class="userimg_wrap">
            <p class="userimg_box">
              <img id="preview" sec:authorize="isAuthenticated()" th:if="${session.userT != null && session.userT.userSocial == false}" th:src="${session.userT.profile}" src="https://github.com/mdo.png" th:alt="${session.userT.userId} + '님의 프로필 이미지'">
              <img id="preview" sec:authorize="isAuthenticated()" th:if="${session.userT != null && session.userT.userSocial == false && session.userT.profile == null}" th:src="'/upload/member/' + ${session.userT.profile}" src="https://github.com/mdo.png" th:alt="${session.userT.userId} + '님의 프로필 이미지'">
              <img id="preview" sec:authorize="isAuthenticated()" th:if="${session.userT != null && session.userT.userSocial == true}" th:src="${session.userT.profile}" src="/img/profile_img.png" th:alt="${session.userT.userId} + '님의 프로필 이미지'">
            </p>
            <label for="userImg" class="btn btn-dark btn-sm ">
              👆프로필 선택하기👆
            </label>
          </div>
          <input type="file" th:field="*{userImg}"  name="" id="userImg" accept="image/*" multiple="multiple" style="display:none">
          <p class="id m-3 mb-5"  th:text="*{userId}" ></p>
          <input th:field="*{userId}" th:name="*{userId}" th:id="*{userId}" th:value="*{userId}" type="hidden" />
          <button class="btn btn btn-primary" type="submit">회원 사진 변경하기</button>
        </div>
      </form>
    </div>
    <!-- start 프로필 이미지 -->
    <script>
        var file = document.querySelector('#userImg');

        file.onchange = function () {
            var fileList = file.files ;

            // 읽기
            var reader = new FileReader();
            reader.readAsDataURL(fileList [0]);

            //로드 한 후
            reader.onload = function  () {
                document.querySelector('#preview').src = reader.result ;
            };
        };
    </script>
    <!-- end 프로필 이미지 -->

  </div>

</th:block>
</html>