<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic}">
<th:block layout:fragment="content">



    <div class="content_nav"  th:object="${board}">
        <!-- start : navbar -->
        <th:block th:replace="layout/navBarTravelPost::navBarTravelPost"></th:block>
        <div class="content">
            <h3 class="tit text-center">글쓰기</h3>
            <form class="mt-2" id="BoardForm" method="post" enctype="multipart/form-data">
                <!--start 시큐리티 추가 -->
                <input class="csrf_input" type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <input class="csrf_input" type="hidden" th:name="${_csrf.getHeaderName()}">
                <!--end 시큐리티 추가 -->

                <input th:field="*{boardNo}" th:name="*{boardNo}" id="boardNo" type="text" th:type="hidden">
                <input th:field="*{boardCategoryNo}" th:name="*{boardCategoryNo}" id="boardCategoryNo"  type="text" th:type="hidden">
                <input th:field="*{boardItemDay}" th:name="*{boardItemDay}" id="boardItemDay"  type="text" value="itemNum" th:type="hidden">
                <table class="board-top">
                    <colgroup>
                        <col style="width:20%">
                        <col style="width:80%">
                    </colgroup>
                    <tbody>
                        <tr>
                            <th>제목</th>
                            <td>
                                <input th:field="*{boardTit}" th:name="*{boardTit}" id="boardTit" class="form-control" type="text">
                            </td>
                        </tr>
                        <tr>
                            <th>여행 일자</th>
                            <td><input th:name="*{boardTravelDate}" id="boardTravelDate" class="dayName form-control" th:value="${days.dayInfo[0]}" readonly /></td>
                        </tr>

                        <tr id="thumbnailWarp">
                            <th>썸네일</th>
                            <td>
                                <div class="userimg_wrap">
                                    <div class="userimg_box">
                                        <img id="preview" src="" alt="">
                                    </div>
                                    <label for="userImg" class="btn btn-dark btn-sm ">
                                         선택하기👆
                                    </label>
                                    <input type="file" name="file" id="userImg" accept="image/*" multiple="multiple">
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>
                <div id="editor_con">
                    <div id="summernote"></div>
                </div>
                <button class="btn btn-primary mt-3 w-100" type="button" onclick="submitPost()">저장하기</button>
            </form>
        </div>
    </div>
    <!-- 페이지 로딩시 초기화 -->

    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>

    <script type="text/javascript">
        let file = document.querySelector('#userImg');
        let fileList = null;
        $(document).ready(function (){
            $("#boardItemDay").val(1);
        });

        // 게시판
        $('#summernote').summernote({
            placeholder: '기억에 남는 여행 순간들을 기록해보세요.',
            tabsize: 2,
            height: 300,
            minHeight: null,             // 최소 높이
            maxHeight: null,             // 최대 높이
            focus: true,                  // 에디터 로딩후 포커스를 맞출지 여부
            lang: "ko-KR",					// 한글 설정
            toolbar: [
                ['style', ['style']],
                ['font', ['bold', 'underline', 'clear']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['table', ['table']],
                ['insert', ['link', 'picture', 'video']],
                ['view', ['fullscreen', 'codeview', 'help']]
            ],
            callbacks: {
                onImageUpload: function (files, editor, welEditable) {
                    // 파일 업로드 (다중 업로드를 위해 반복문 사용)
                    for (var i = files.length - 1; i >= 0; i--) {
                        var fileName = files[i].name
                        // 이미지 alt 속성 삽일을 위한 설정
                        var caption = prompt('이미지 설명 :', fileName)
                        if (caption == '') {
                            caption = '이미지'
                        }
                        uploadSummernoteImageFile(files[i], this, caption)
                    }
                },
            }

        });


        /* Post 메서드 시큐리티 추가 */
        let headerName = document.getElementsByClassName("csrf_input")[1].getAttribute("name");
        let token = document.getElementsByClassName("csrf_input")[0].getAttribute("value");

        // 이미지 업로드 함수 ajax 활용
        function uploadSummernoteImageFile(file, el, caption) {
            let formData = new FormData();
            formData.append('file', file)
            console.log(formData);
            $.ajax({
                type: 'post',
                data: formData,
                url: "/file/categoryImgSave",
                dataType: 'json',
                contentType: false,
                enctype: 'multipart/form-data',
                processData: false,
                async: true, //동기, 비동기 여부
                cache :false, // 캐시 여부
                beforeSend : function(xhr)
                {
                    xhr.setRequestHeader(headerName, token);
                },
                focus: true,
                success: function (data) {
                    $(el).summernote(
                        'editor.insertImage',
                        data.url,
                        function ($image) {
                            $image.attr('alt', caption) // 캡션 정보를 이미지의 alt 속성에 설정
                        }
                    )
                },
                error:function (data){
                    console.log(data)
                }
            });

        }




        // 게시판 저장
        function submitPost(){

            // title,썸네일,category번호,item 순서번호, content 가지고와서 formdata 로 전송
            //th:id="*{boardCategoryNo}"
            let boardCategoryNo = document.getElementById('boardCategoryNo').value;
            let boardItemDay = document.getElementById('boardItemDay').value;
            let boardTravelDate = document.getElementById('boardTravelDate').value;
            let boardTit = document.getElementById('boardTit').value;
            let content = $('#summernote').summernote('code');


            console.log("boardCategoryNo :" + boardCategoryNo);
            console.log("content :" + content);

            //json 형태 데이터 전달
            let itemCon = {
                "boardNo":null,
                "boardCategoryNo":boardCategoryNo,
                "boardItemDay": boardItemDay,
                "boardTravelDate": boardTravelDate,
                "boardTit": boardTit,
                "boardContent": content,
                "boardImg":null,
                "createdAt":null
            }

            let formData = new FormData;
            formData.append('itemCon', new Blob([JSON.stringify(itemCon)] , {type: "application/json"}));
            if(fileList != null) formData.append("boardFile", fileList[0]); // 썸네일 파일 객체

            //console.log(fileList[0]);

            $.ajax({
                type: 'post',
                data: formData,
                url: "/board/postSave",
                dataType: 'json',
                contentType: false,
                enctype: 'multipart/form-data',
                processData: false,
                async: true, //동기, 비동기 여부
                cache :false, // 캐시 여부
                beforeSend : function(xhr)
                {
                    xhr.setRequestHeader(headerName, token);
                },
                success:function (data) {
                    console.log(data)
                    let boardViewPage = "/travel/postView?no=" + data.boardCategoryNo + "&boardNo="+data.boardNo;

                    if(data == null) {
                        alert("저장이 실패했습니다.");
                    }else{
                        alert("저장이 성공했습니다." );
                        location.replace(boardViewPage);
                    }
                },
                error:function (data) {
                    alert("저장이 실패했습니다. 관리자에게 문의 주세요.");
                }
            });




        }


        <!-- start 프로필 이미지 -->
        file.onchange = function () {
            fileList = file.files ;
            // 읽기
            var reader = new FileReader();
            reader.readAsDataURL(fileList[0]);
            //로드 한 후
            reader.onload = function  () {
                document.querySelector('#preview').src = reader.result ;
            };
        };
        <!-- end 프로필 이미지 -->
    </script>


</th:block>
</html>