<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/basic}">
<th:block layout:fragment="content">
  <div class="content_nav">
    <div class="content">
      <h2 class="tit text-center mb-2">여행지 모아모아</h2>
      <p class="text-center mb-5">고객님들이 공유해주신 여행지 정보입니다.</p>
      <div class="board_wrap" th:object="${categoryPage}">
        <div class="board_top mb-2 ">
          <p>
            total <span th:text="${categoryPage.getTotalElements()}">2</span>
          </p>
          <p class="ml-2">
            <select class="form-select form-select-sm" aria-label=".form-select-sm example" onchange="window.open(value,'_self')" >
              <option th:selected="${orderCk} == 'dateStart'" th:value="@{/board/boardList(k = ${param.k},page=${pageing.getPage()},order='dateStart')}" >여행 시작일</option>
              <option th:selected="${orderCk} == 'createdAt'" th:value="@{/board/boardList(k = ${param.k},page=${pageing.getPage()},order='createdAt')}">작성일</option>
              <option th:selected="${orderCk} == 'viewNum'" th:value="@{/board/boardList(k = ${param.k},page=${pageing.getPage()},order='viewNum')}">인기순</option>
            </select>
          </p>
        </div>
        <th:block th:if="|${categoryPage.getContent().size() <= 0}|">
          <p class="text-center mt-5">
            😭 찾으시는 지역의 컨텐츠가 없습니다. 😭<br />
            ❤️ 다시 입력해주세요 ❤️<br /><br />
            <a class="btn btn-outline-secondary" th:href="@{/board/boardList}">전체 목록 바로가기</a>
          </p>
        </th:block>
        <ul class="board_content row row-cols-1 row-cols-md-2 g-4 ">
          <th:block th:each="list,i:${categoryPage.getContent()}">
            <li class="col" th:class="|col col_${list.categoryNo}|" >
              <div class="card">
                <div class="card-body">

                    <p class="img" th:if="${list.boardImg}">
                      <img th:src="${list.boardImg}" alt="여행썸내일">
                    </p>

                  <div class="con">
                    <div class="address_info mt-1">
                      <p class="btn_up">
                          <a th:href="|javascript:btnLike(${list.categoryNo})|" title="찜하기" class="btn_heart">
                            <i class="bi bi-heart"></i>
                            <th:block th:each="likes,i:${likeList}">
                              <i th:if="${likes.categoryId == list.categoryNo}" class="bi bi-heart-fill"></i>
                            </th:block>
                          </a>
                      </p>
                      <span class="point-color" th:text="${list.categoryArea}">제주도</span>
                      <th:block th:if="${list.categoryAreaDetails != ''}">
                        / <span class="point-color" th:text="${list.categoryAreaDetails}">제주도</span>
                      </th:block>
                    </div>
                    <h5 th:text="${list.categoryName}" class="card-title">동물농장 여행</h5>
                    <div class="mt-1">
                      <span><i class="bi bi-calendar-week"></i> 일정 : [[${list.dateTxt} - 1 ]] 박 [[${list.dateTxt}]] 일</span>
                      <p class="travel_date mt-1" style="display:inline-block">
                        ( <span class="travel_day_start" th:text="${list.dateStart}">2023-08-11</span>
                        -
                        <span class="travel_day_end" th:text="${list.dateEnd}">2023-08-20</span> )
                      </p>
                    </div>
                    <p class="mt-1"><i class="bi bi-clock"></i>
                      작성일 : [[${#temporals.format(list.createdAt,'yyyy-MM-dd')}]]</p>
                    <p class="travel_people mt-1">
                      <i class="bi bi-emoji-smile"></i>
                      <span class="txt_info" style="color: #333">작정자 : </span>
                      <span class="tag point" th:text="${list.categoryWriter}"></span>
                      <th:block th:each="tagItem,i:${list.tagList}" th:if="${i.size > 0}" >
                        <span class="">인원 : </span>
                        <span th:text="${i.size} + 1" class="tag"></span>
                      </th:block>
                    </p>
                  </div>
                </div>
                <!-- end :card-body -->
                <div class="btn-group border-top">
                  <a th:href="@{/board/view(no=${list.categoryNo})}" class="btn">일정상세 <i class="bi bi-map-fill"></i></a>
                  <th:block th:if="${list.boardExistence}">
                    <a th:href="@{/board/postView(no=${list.categoryNo},day=1)}" class="btn">여행기록 <i class="bi bi-pen-fill"></i></a>
                  </th:block>
                </div>
              </div>
            </li>
          </th:block>
        </ul>
        <div th:object="${pageing}" class="mt-5 text-center">
            <th:block th:if="${pageing.prev}">
              <a class="btn btn-outline-secondary" th:href="@{/board/boardList(k = ${param.k},page = ${pageing.start - 5})}" tabindex="-1"> < </a>
            </th:block>
            <th:block th:each="page : ${pageing.pageList}">
              <a  th:href="@{/board/boardList(k = ${param.k},page = ${page})}" th:text="${page}" class="btn btn-outline-secondary"  th:class="'btn btn-outline-secondary '+${pageing.page == page ? 'active':''}"    ></a>
            </th:block>
            <th:block th:if="${pageing.next}">
              <a class="btn btn-outline-secondary" th:href="@{/board/boardList(k = ${param.k},page = ${pageing.end + 1})}" tabindex="-1"> > </a>
            </th:block>
        </div>
      </div>


    </div>
  </div>

  <script th:src="@{/js/boardList.js}"></script>

</th:block>
</html>

