<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/basic}">
<th:block layout:fragment="content">
  <div class="content_nav">
    <div class="content">
      <h2 class="tit text-center mb-2">여행지 모아모아</h2>
      <p class="text-center mb-5">고객님들이 공유해주신 여행지 정보입니다.</p>
      <div class="board_wrap" th:object="${categoryPage}">
        <div class="board_top mb-2 ">
          <p>
            total <span th:text="${categoryPage.getTotalElements()}">2</span>
          </p>
          <p class="ml-2">
            <select class="form-select form-select-sm" aria-label=".form-select-sm example" onchange="window.open(value,'_self')" >
              <option th:selected="${orderCk} == 'dateStart'" th:value="@{/board/boardList(page=${pageing.getPage()},order='dateStart')}" >여행 시작일</option>
              <option th:selected="${orderCk} == 'createdAt'" th:value="@{/board/boardList(page=${pageing.getPage()},order='createdAt')}">작성일</option>
            </select>
          </p>
        </div>
        <ul class="board_content row row-cols-1 row-cols-md-2 g-4 ">
          <th:block th:each="list,i:${categoryPage.getContent()}">
            <li class="col" th:class="|col col_${list.categoryNo}|" >
              <div class="card">
                <div class="card-body">
<!--                  <p class="img">-->
<!--                    <img src="" alt="여행썸내일">-->
<!--                  </p>-->
                  <div class="con">
                    <p class="address_info mt-1">
                      <a th:href="|javascript:btnLike(${list.categoryNo})|" title="찜하기" class="btn_heart">
                        <i class="bi bi-heart"></i>
                        <th:block th:each="likes,i:${likeList}">
                          <i th:if="${likes.categoryId == list.categoryNo}" class="bi bi-heart-fill"></i>
                        </th:block>
                      </a>
                      <span class="point-color" th:text="${list.categoryArea}">제주도</span>
                      <th:block th:if="${list.categoryAreaDetails != ''}">
                        / <span class="point-color" th:text="${list.categoryAreaDetails}">제주도</span>
                      </th:block>
                    </p>
                    <h5 th:text="${list.categoryName}" class="card-title">동물농장 여행</h5>
                    <div class="mt-1">
                      <span><i class="bi bi-calendar-week"></i> 일정 : [[${list.dateTxt} - 1 ]] 박 [[${list.dateTxt}]] 일</span>
                      <p class="travel_date mt-1" style="display:inline-block">
                        ( <span class="travel_day_start" th:text="${list.dateStart}">2023-08-11</span>
                        -
                        <span class="travel_day_end" th:text="${list.dateEnd}">2023-08-20</span> )
                      </p>
                    </div>
                    <p class="mt-1"><i class="bi bi-clock"></i>
                      작성일 : [[${#temporals.format(list.createdAt,'yyyy-MM-dd')}]]</p>
                    <p class="travel_people mt-1">
                      <i class="bi bi-emoji-smile"></i>
                      <span class="txt_info" style="color: #333">작정자 : </span>
                      <span class="tag point" th:text="${list.categoryWriter}"></span>
                      <th:block th:each="tagItem,i:${list.tagList}" th:if="${i.size > 0}" >
                        <span class="">인원 : </span>
                        <span th:text="${i.size} + 1" class="tag"></span>
                      </th:block>
                    </p>
                  </div>
                </div>
                <!-- end :card-body -->
                <div class="btn-group border-top">
                  <a th:href="@{/travel/view(no=${list.categoryNo})}" class="btn border-end">일정상세 <i class="bi bi-map-fill"></i></a>
                  <th:block th:if="${list.boardExistence}">
                    <a th:href="@{/travel/post(no=${list.categoryNo},day=1)}" class="btn">여행기록 <i class="bi bi-pen-fill"></i></a>
                  </th:block>
                </div>
              </div>
            </li>
          </th:block>
        </ul>
        <div th:object="${pageing}" class="mt-5 text-center">
            <th:block th:if="${pageing.prev}">
              <a class="btn btn-outline-secondary" th:href="@{/board/boardList(page = ${pageing.start - 5})}" tabindex="-1"> < </a>
            </th:block>
            <th:block th:each="page : ${pageing.pageList}">
              <a  th:href="@{/board/boardList(page = ${page})}" th:text="${page}" class="btn btn-outline-secondary"  th:class="'btn btn-outline-secondary '+${pageing.page == page ? 'active':''}"    ></a>
            </th:block>
            <th:block th:if="${pageing.next}">
              <a class="btn btn-outline-secondary" th:href="@{/board/boardList(page = ${pageing.end + 1})}" tabindex="-1"> > </a>
            </th:block>
        </div>
      </div>


    </div>
  </div>


  <script type="text/javascript">
      function btnLike(e){
          console.log(e);
          let box = ".col_"+e;
          let con='';
          $.ajax({
              url:'/board/likeSave?no=' + e,
              type: 'get',
              success:function (data){
                  console.log(data);
                  if (data == 1){
                      con = '<div class="text-center">게시글이 찜리스트에 저장 되었습니다.</div>';
                      con += '<div><a class="btn btn-primary w-100 btn-sm mt-3" href="/mypage/boardLikeList" >찜리스트 바로가기</a></div>';
                      $("#modalMsg").modal("show");
                      $("#modalMsg .modal-message").html(con);
                      $(box).find(".btn_heart .bi").removeClass("bi-heart");
                      $(box).find(".btn_heart .bi").addClass("bi-heart-fill");
                  }else if (data == 0){
                      con = '<div class="text-center">게시글 저장을 삭제 했습니다.</div>';
                      $("#modalMsg").modal("show");
                      $("#modalMsg .modal-message").html(con);

                      $(box).find(".btn_heart .bi").removeClass("bi-heart-fill");
                      $(box).find(".btn_heart .bi").addClass("bi-heart");

                  }else {
                      con = '<div class="text-center"><p class="point-color tit mb-2">Travel Road</p>로그인이 필요한 기능입니다. </div>';
                      con += '<div><a class="btn btn-primary w-100 btn-sm mt-5" href="/loginForm" >로그인하기</a></div>';
                      $('#modalMsg').modal("show");
                      $('#modalMsg .modal-message').html(con);

                     // alert("로그인이 필요한 기능입니다.");
                  }
              },
              error:function (){
                  alert("저장이 실패했습니다. 관리자에게 문의해주세요.")
              }

          })
      }
  </script>

  <script type="text/javascript">
    $(document).ready(function (){

        let today = new Date();
        console.log("today : "+today);

        $(".board_content li").each(function (index, item) {
           let startDay = $(this).find(".travel_day_start").text();
           let startEnd = $(this).find(".travel_day_end").text();
           console.log("startDay : "+ startDay);
            startDay = new Date(startDay);
            startEnd = new Date(startEnd);
            var total = startEnd - startDay;
            var perc = today - startDay;



            const totalDay = Math.floor(total / (1000*60*60*24));
            const totalHour = Math.floor((total / (1000*60*60)) % 24);
            const totalMin = Math.floor((total / (1000*60)) % 60);
            const totalSec = Math.floor(total / 1000 % 60);
            console.log(  index+" - totalDay ) "+ totalDay+"일 "+ totalHour+"시간 " +totalMin +"분 " +totalSec+"초");

            const diffDay = Math.floor(perc / (1000*60*60*24));
            const diffHour = Math.floor((perc / (1000*60*60)) % 24);
            const diffMin = Math.floor((perc / (1000*60)) % 60);
            const diffSec = Math.floor(perc / 1000 % 60);
            console.log( index+") "+ diffDay+"일 "+ diffHour+"시간 " +diffMin +"분 " +diffSec+"초");


            console.log("startDay" + startDay);
            console.log("startEnd" + startEnd);


            console.log(index  + "그래서... : " + (totalDay-diffDay)*0.01);
            console.log(index  + "그래서... : " + (totalDay-diffDay) + "%");



            console.log("************************");
            console.log("************************");
            console.log("************************");
            console.log("************************");
            console.log("************************");



        });

    });
  </script>

</th:block>
</html>

