<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic}">
<th:block layout:fragment="content">
  <div class="container-fluid mt-5" th:object="${userTravel}" >
    <div>
      <h2 class="tit text-center mb-4">회원가입</h2>

      <form id="joinForm" th:action="@{/join}" th:method="post" class="box content_box" >

        <table>
          <colgroup>
            <col style="width:100px">
            <col style="width:calc(100% - 100px)">
          </colgroup>
          <tbody>
          <tr>
            <th>
              <label for="userId">
                아이디 <span class="txt_info ck">*</span>
              </label>
            </th>
            <td>
              <input th:field="*{userId}"  name="userId" id="userId" class="form-control id"
                     th:errorclass="err" type="text" placeholder="아이디를 입력하세요.">
            </td>
          </tr>
          <tr>
            <th>비밀번호 <span class="txt_info ck">*</span></th>
            <td>
              <input th:field="*{userPassword}" name="userPassword" id="userPassword" type="password"  class="form-control" placeholder="비밀번호를 입력하세요.">
            </td>
          </tr>
          <tr>
            <th>이름 <span class="txt_info ck">*</span></th>
            <td><input th:field="*{userName}"  name="userName" id="userName" class="form-control" type="text" placeholder="이름을 입력하세요."></td>
          </tr>
          <tr>
            <th>생년월일 <span class="txt_info ck">*</span></th>
            <td><input th:field="*{userBirthday}"  name="userBirthday" id="userBirthday" th:errorclass="err" class="form-control" type="text" placeholder="생년월일 6자리를 입력하세요."></td>
          </tr>

          <tr>
            <th>이메일 <span class="txt_info ck">*</span></th>
            <td>
              <input th:field="*{userEmail}" name="userEmail" id="userEmail" th:errorclass="err" class="form-control" type="text" placeholder="이메일을 입력하세요.">
            </td>
          </tr>

          <tr>
            <th>연락처 <span class="txt_info ck">*</span></th>
            <td><input th:field="*{userPhone}" name="userPhone" id="userPhone"   class="form-control" type="text"  placeholder="연락처를 입력하세요. EX) 010-0000-0000"></td>
          </tr>
          <tr>
            <th>주소  <span class="txt_info ck">*</span></th>
            <td class="address_wrap">
              <div class="address_post">
                <input type="text" id="addressPostcode" th:field="*{addressPostcode}" placeholder="우편번호" class="form-control">
                <input type="button" onclick="addressPostcodes()" value="우편번호 찾기" class="btn btn-dark btn-sm">
              </div>
              <div class="address_info">
                <input type="text" id="address" th:field="*{address}" placeholder="주소" class="form-control">
              </div>
              <div class="address_detail">
                <input type="text" id="addressDetail" th:field="*{addressDetail}" placeholder="상세주소" class="form-control">
                <input type="text" id="addressExtra" th:field="*{addressExtra}" placeholder="참고항목" class="form-control">
              </div>


            </td>
          </tr>
          <tr>
            <th>성별</th>
            <td>
              <label for="userGenderM">
                <input name="userGender" id="userGenderM" value="userGenderM" type="radio"  th:checked="${userTravel.userGender eq 'userGenderM'}" checked="checked" /> 남성
              </label>
              <label for="userGenderW" class="ml-2">
                <input  name="userGender" id="userGenderW" value="userGenderW" type="radio" th:checked="${userTravel.userGender eq 'userGenderW'}" /> 여성
              </label>
            </td>
          </tr>
          <tr>
            <th>프로필 <br />이미지</th>
            <td>
              <div class="userimg_wrap">
                <div class="userimg_box">
                  <img id="preview" src="" alt="">
                </div>
                <label for="userImg" class="btn btn-dark btn-sm ">
                  👆프로필 선택하기👆
                </label>
                <input type="file" th:field="*{userImg}"  name="userImg" id="userImg" accept="image/*">
              </div>
            </td>
          </tr>
          </tbody>
        </table>

        <label for="userAgree" class="mt-2">
          <input th:field="*{userAgree}" name="userAgree" id="userAgree" type="checkbox"/> 개인정보 동의 <span class="txt_info ck">*</span>
        </label>
        <div class="user_agree_wrap mt-2">
          여행지 찾기'메뉴 에서 모두와 공유하고 소통할 수 있어요.
        </div>

        <a class="w-100 btn btn-primary mt-4" href="javascript:void(0)" onclick="joinForm()" >가입하기</a>


      </form>
    </div>


    <!-- Modal -->
    <script type="text/javascript" th:if="${#fields.hasErrors()} or *{idCk}">
        $(document).ready(function (){
            $('#modalJoin').modal("show");
        })
    </script>
    <div class="modal fade" id="modalJoin" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel"> 회원가입 확인 </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p class="modal-message">
              <span th:field="*{idCk}" th:if="*{idCk}" class="err_txt">
              아이디 변경 : 이미 존재하는 아이디 입니다.
               </span>
              <br />
              <span th:if="${#fields.hasErrors('userEmail')}" th:errors="*{userEmail}"></span>
              <br />
              <span th:if="${#fields.hasErrors('userBirthday')}" th:errors="*{userBirthday}"></span>
              <br />
              <span th:if="${#fields.hasErrors('userPhone')}" th:errors="*{userPhone}"></span>
              <br />
              <span th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></span>
              <br />
              <span th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}"></span>
            </p>
          </div>
        </div>
      </div>
    </div>


  </div>




  <!-- start 프로필 이미지 -->
  <script>
      var file = document.querySelector('#userImg');

      file.onchange = function () {
          var fileList = file.files ;

          // 읽기
          var reader = new FileReader();
          reader.readAsDataURL(fileList [0]);

          //로드 한 후
          reader.onload = function  () {
              document.querySelector('#preview').src = reader.result ;
          };
      };
  </script>
  <!-- end 프로필 이미지 -->

  <!-- start 주소 팝업 -->
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <script>
      function addressPostcodes() {
          new daum.Postcode({
              oncomplete: function(data) {
                  // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                  // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                  // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                  var addr = ''; // 주소 변수
                  var extraAddr = ''; // 참고항목 변수

                  //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                  if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                      addr = data.roadAddress;
                  } else { // 사용자가 지번 주소를 선택했을 경우(J)
                      addr = data.jibunAddress;
                  }

                  // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                  if(data.userSelectedType === 'R'){
                      // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                      // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                      if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                          extraAddr += data.bname;
                      }
                      // 건물명이 있고, 공동주택일 경우 추가한다.
                      if(data.buildingName !== '' && data.apartment === 'Y'){
                          extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                      }
                      // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                      if(extraAddr !== ''){
                          extraAddr = ' (' + extraAddr + ')';
                      }
                      // 조합된 참고항목을 해당 필드에 넣는다.
                      document.getElementById("addressExtra").value = extraAddr;

                  } else {
                      document.getElementById("addressExtra").value = '';
                  }

                  // 우편번호와 주소 정보를 해당 필드에 넣는다.
                  document.getElementById('addressPostcode').value = data.zonecode;
                  document.getElementById("address").value = addr;
                  // 커서를 상세주소 필드로 이동한다.
                  document.getElementById("addressDetail").focus();
              }
          }).open();
      }
  </script>
  <!-- end 주소 팝업 -->

  <!-- start 폼 저장 및 모달 -->
  <script type="text/javascript">
      // 아이디 확인

      $(function(){
          $('input.err').on("change",function (){
              $(this).removeClass("err");
              if($('input.err').hasClass("id")){
                  $('.err_txt').hide();
              }
          })

      });

      function joinForm(){
          if(document.getElementById("userId").value==''){
              $('#modalJoin').modal("show");
              $('.modal-message').html('아이디를 입력해주세요.');
              $("#userId").addClass('err');

              return false;
          }
          if(document.getElementById("userPassword").value==''){
              $('#modalJoin').modal("show");
              $('.modal-message').html('비밀번호를 입력해주세요.');
              $("#userPassword").addClass('err');

              return false;
          }

          if(document.getElementById("userName").value==''){
              $('#modalJoin').modal("show");
              $('.modal-message').html('이름을 입력해주세요.');
              $("#userName").addClass('err');


              return false;
          }
          if(document.getElementById("userEmail").value==''){
              $('#modalJoin').modal("show");
              $('.modal-message').html('이메일을 입력해주세요.');
              $("#userEmail").addClass('err');
              return false;
          }

          if(document.getElementById("userPhone").value==''){
              $('#modalJoin').modal("show");
              $('.modal-message').html('연락처를 입력해주세요.');
              $("#userPhone").addClass('err');
              return false;
          }

          if(document.getElementById("address").value==''){
              $('#modalJoin').modal("show");
              $('.modal-message').html('주소를 입력해주세요.');
              $("#address").addClass('err');
              return false;
          }

          if(document.getElementById("userBirthday").value==''){
              $('#modalJoin').modal("show");
              let html = "<div>생년월일 6자리를 입력해주세요.<div>"
              + "<br>ex. 230423";
              $('.modal-message').html(html);
              $("#userBirthday").addClass('err');
              return false;
          }

          if ( ! $('input[name=userAgree]:checked').val()) {
              alert('개인정보 활용에 동의해주세요.');
              return false;
          }

          document.getElementById('joinForm').submit();
      }
  </script>

  <!-- end 폼 저장 및 모달 -->
</th:block>
</html>

