<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/basic}">
<th:block layout:fragment="content">
    <div class="container-fluid">
        <div>
            main
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel"> 여행이름 </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" action="">
                        <input class="item_id" value="" type="hidden" />
                        <table>
                            <colgroup>
                                <col style="width:100px;">
                                <col style="width:calc(100% - 100px);">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th>Day</th>
                                    <td>
                                        <input name="travel_day" class="travel_day" type="number" value="1">
                                    </td>
                                </tr>
                                <tr>
                                    <th>장소명</th>
                                    <td>
                                        <input name="place_name" class="place_name" type="text" readonly>
                                    </td>
                                </tr>
                                <tr>
                                    <th>주소</th>
                                    <td>
                                        <input name="road_address_name" class="road_address_name" type="text" readonly>
                                        <input name="address_name" class="address_name" type="text" readonly>
                                    </td>
                                </tr>
                                <tr>
                                    <th>phone</th>
                                    <td>
                                        <input name="phone" class="phone" type="text" value="1" readonly>
                                    </td>
                                </tr>
                                <tr>
                                    <th>URL</th>
                                    <td>
                                        <input name="place_url" class="place_url" type="text" value="1" readonly>
                                    </td>
                                </tr>

                                <tr>
                                    <th>시간</th>
                                    <td>
                                        <li>도착: <input class="time" name="time1" type="text" placeholder="7:00"/> </li>
                                        <li>출발: <input type="text" name="time2" placeholder="7:00"/> </li>
                                    </td>
                                </tr>
                                <tr>
                                    <th>여행지 정보 및 운영 시간</th>
                                    <td>
                                        <textarea name="travel_content" class="travel_content"></textarea>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">다시 작성하기 </button>
                    <button type="button" class="btn btn-primary" onclick="itemSave()" >저장하기</button>
                </div>
            </div>
        </div>
    </div>

</th:block>
</html>

